* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;    
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url("https://static.mundoeducacao.uol.com.br/mundoeducacao/2023/02/mapa-mundi-em-fundo-azul.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 30px;
    border-radius: 20px;
}

h2{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    
}

label{
    font-size: 25px;
    color: white;
}

.btn{
    border-radius: 10px;

}

input.focus{
    outline: none;
}